.header header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 90%;
}

.header header ul {
  display: flex;
  justify-content: space-between;
  align-self: center;
  font-size: 18px;
  list-style-type: none;
}

.header header ul a {
  font-size: 20px;
}

.header header ul a:hover {
  transition: 0.5s;
  font-weight: bold;
  text-decoration: underline;
  font-size: 22px;
  color: #62b076;
}

.header header ul li {
  margin-left: 40px;
  color: #56422f;
}

.actived {
  font-weight: 900;
  text-decoration: underline;
}
